<div class="container">
    <div class="row py-3">
        <div class="col-6">
            <h4>Student Portal</h4>    
        </div>
        <div class="col-6 text-end ">
            <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
        </div>
    </div>
    <ng-container *ngIf="studentList.length !== 0; else template">
        <div class="row">
            <ng-container *ngFor="let student of studentList">
                <div class="col-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">{{ student.name }}</div>
                                <div class="col-6 text-end">{{ student.phoneNo }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>{{ student.city }}, {{ student.state }}, {{ student.pincode }}</p>
                            <p>{{ student.address }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                                <div class="col-8 ps-0">
                                    <span>{{ student.email }}</span>
                                </div>
                                <div class="col-4 pe-0">
                                    <button class="btn btn-primary btn-sm" (click)="editStudent(student)">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #template>
        <div class="row">
            <div class="col-12 p-4  text-center ">
                <p>¡No record found. Create new record!</p>
            </div>
        </div>
    </ng-template>
</div>

<div class="modal" tabindex="-1" id="modalNewStudent" #modalNewStudent>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new student</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="studentObj.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="phone">Phone No</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" [(ngModel)]="studentObj.phoneNo">
                    </div>
                    <div class="col-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="studentObj.email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="studentObj.city">
                    </div>
                    <div class="col-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" [(ngModel)]="studentObj.state">
                    </div>
                    <div class="col-4">
                        <label for="pincode">Pin Code</label>
                        <input type="text" class="form-control" id="pincode" placeholder="Pin Code" [(ngModel)]="studentObj.pincode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="address">Address</label>
                        <textarea class="form-control" id="address" rows="3" [(ngModel)]="studentObj.address"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger " (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveStudent()">Save Student</button>
            </div>
        </div>
    </div>
</div>