<div class="container">
    <div class="row pt-3">
        <div class="col-6">
            <h4>Student Portal</h4>    
        </div>
        <div class="col-6 text-end ">
            <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">Student Name</div>
                        <div class="col-6 text-end">Phohe No</div>
                    </div>
                </div>
                <div class="card-body">
                    <p>City, state, pincode</p>
                    <p>Address</p>
                </div>
                <div class="card-footer text-center">
                    <p>Email</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalNewStudent" #modalNewStudent>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create new student</h5>
                <button type="button" class="btn-close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-8">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="studentObj.name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="phone">Phone No</label>
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" [(ngModel)]="studentObj.phoneNo">
                    </div>
                    <div class="col-6">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="studentObj.email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="City" [(ngModel)]="studentObj.city">
                    </div>
                    <div class="col-4">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="State" [(ngModel)]="studentObj.state">
                    </div>
                    <div class="col-4">
                        <label for="pincode">Pin Code</label>
                        <input type="text" class="form-control" id="pincode" placeholder="Pin Code" [(ngModel)]="studentObj.pincode">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="address">Address</label>
                        <textarea class="form-control" id="address" rows="3" [(ngModel)]="studentObj.address"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger " (click)="closeModal()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveStudent()">Save Student</button>
            </div>
        </div>
    </div>
</div>